<form [formGroup]="form" (ngSubmit)="submit()">
	<h2>Log in as Admin</h2>
	<div class="form-control">
		<label for="email">Email</label>
		<input id="email" formControlName="email" type="email">
		<div class="validations" *ngIf="form.get('email').touched && form.get('email').invalid">
			<small *ngIf="form.get('email').errors.required">
				Enter email
			</small>
			<small *ngIf="form.get('email').errors.email">
				Enter VALID email
			</small>
		</div>
	</div>
	<div class="form-control">
		<label for="password">Password</label>
		<input id="password" formControlName="password" type="password">
		<div class="validations" *ngIf="form.get('password').touched && form.get('email').invalid">
			<small *ngIf="form.get('password').errors.required">
				Enter password
			</small>
			<small *ngIf="form.get('password').errors.minlength.requiredLength">
				Password must be at least {{form.get('password').errors.minlength.requiredLength}}
			</small>
		</div>
	</div>
	<button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid || submitted">Log in</button>
</form>
