<div *ngIf="products.length">
	<h2 class="text-center">Dashboard</h2>
	<table>
		<thead>
		<tr>id</tr>
		<tr>name</tr>
		<tr>price</tr>
		<tr>date</tr>
		<tr>open</tr>
		<tr>delete</tr>
		</thead>
		<tbody>
		<tr *ngFor="let product of products; let idx = index">
			<td>{{idx + 1}}</td>
			<td>{{product.title}}</td>
			<td>{{product.price}}</td>
			<td>{{product.date}}</td>
			<td>
				<button [routerLink]="['/admin','product', product.id,'edit']">open</button>
			</td>
			<td>
				<button (click)="remove(product.id)">delete</button>
			</td>
		</tr>
		</tbody>
	</table>
</div>

