<form [formGroup]="form" (ngSubmit)="submit()">
	<h2 class="text-center">Add Product</h2>
	<div class="form-control">
		<label for="type">Type</label>
		<select formControlName="type" id="type">
			<option value="phone">Phone</option>
			<option value="tablet">Tablet</option>
			<option value="laptop">Laptop</option>
		</select>
		<div class="validations" *ngIf="form.get('type').touched && form.get('type').invalid">
			<small *ngIf="form.get('type').errors.required">
				Choose product type
			</small>
		</div>
	</div>
	<div class="form-control">
		<label for="title">Name</label>
		<input id="title" formControlName="title" type="text">
		<div class="validations" *ngIf="form.get('title').touched && form.get('title').invalid">
			<small *ngIf="form.get('title').errors.required">
				Enter product type
			</small>
		</div>
	</div>
	<div class="form-control">
		<label for="Type">Photo:</label>
		<quill-editor formControlName="photo"></quill-editor>
	</div>
	<div class="form-control">
		<label for="Type">Information:</label>
		<quill-editor formControlName="info"></quill-editor>
	</div>
	<div class="form-control">
		<label for="price">Price</label>
		<input id="price" formControlName="price" type="number">
		<div class="validations" *ngIf="form.get('price').touched && form.get('price').invalid">
			<small *ngIf="form.get('price').errors.required">
				Enter product price
			</small>
		</div>
	</div>
	<button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid || submitted">Add</button>
</form>
